<phpunit
        colors="true"
        backupGlobals="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <coverage
            includeUncoveredFiles="true"
            pathCoverage="true"
    >
        <report>
            <html outputDirectory="html-coverage" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>
</phpunit>